<div class="article__link">{{ contentLeft.link }}</div>
<h1 class="article__title">{{ contentLeft.title }}</h1>
<span class="article__category text--primary-color">{{ contentLeft.category }}</span>
<div class="article__body">{{ contentLeft.body }}</div>
<div class="article__btn">{{ contentLeft.buttonLink }}</div>
<div class="article__link hidden-on-mobileOnly">{{ contentLeft.link }}</div>
