<div class="grid-content {{ gridContent.bgColor }}">
  <div class="grid-content__inner container bg--white text--dark text--center">
    {% if gridContent.title is not empty %}
      <h1 class="grid-content__title">{{ gridContent.title|raw }}</h1>
    {% endif %}
    {% if gridContent.imageItems|length > 0 %}
      <div class="grid-content__images-wrap">
        <div class="grid-content__images js-grid-content__images">
          {% for item in gridContent.imageItems %}
            <div class="grid-content__images__item">{{ item }}</div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if gridContent.utilityLinks|length > 0 %}
      <div class="grid-content__utility-links">
        <h4 class="grid-content__label text--primary-color">{{ gridContent.utilityLinksLabel }}</h4>
        <ul class="list-dot-inline">
          {% for item in gridContent.utilityLinks %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if gridContent.buttonLink is not empty %}
      <div class="grid-content__btn">{{ gridContent.buttonLink }}</div>
    {% endif %}
  </div>
</div>
